<header>
    <div class="logo">
        <img routerLink="home" src="../../../assets/images/logo.png" alt="">
    </div>
    <nav>
        <ul>
            <li><a routerLink="/spring" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Spring<span></span></a></li>
            <li><a routerLink="/summer" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Summer<span></span></a></li>
            <li><a routerLink="/autumn" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Autumn<span></span></a></li>
            <li><a routerLink="/winter" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Winter<span></span></a></li>
        </ul>
    </nav>
</header>
