<section>
  <div class="left">
    <h1>Seasonal Symphony: Understanding the Earth's Rhythms</h1>
    <!-- <p>
      The Earth's axial tilt and its orbit around the sun are the primary causes
      of seasons. As the Earth revolves around the sun, its axis remains tilted
      relative to its orbital plane, resulting in varying amounts of sunlight
      reaching different parts of the planet throughout the year. This tilt
      leads to the seasonal changes observed globally, with different
      hemispheres experiencing summer, winter, spring, and autumn at different
      times. During summer, the hemisphere tilted towards the sun receives more
      direct sunlight and experiences longer daylight hours, resulting in warmer
      temperatures. Conversely, the hemisphere tilted away from the sun receives
      less direct sunlight and shorter days, leading to cooler temperatures and
      winter conditions.
    </p>
    <p>
      The effects of seasons are widespread and diverse, influencing various
      aspects of life on Earth. Seasonal changes profoundly impact ecosystems,
      affecting the behavior, reproduction, and migration patterns of plants and
      animals. Agriculture relies heavily on seasonal variations for planting
      and harvesting crops, with different crops suited to specific seasonal
      conditions. Additionally, human activities such as tourism, outdoor
      recreation, and seasonal industries are influenced by the timing and
      characteristics of each season. Cultural traditions and celebrations often
      revolve around seasonal events, reflecting the significance of seasonal
      changes in human societies. Overall, the causes and effects of seasons
      highlight the intricate relationship between the Earth's position relative
      to the sun and the dynamic rhythms of life on our planet.
    </p> -->
    <p>
      The Earth's axial tilt and its orbit around the sun are the primary causes
      of seasons, resulting in varying amounts of sunlight reaching different
      parts of the planet throughout the year. This leads to temperature
      fluctuations and changes in weather patterns. During summer, the
      hemisphere tilted towards the sun receives more direct sunlight and
      experiences warmer temperatures, while the opposite hemisphere has shorter
      days and cooler conditions, marking winter. These seasonal shifts
      profoundly impact ecosystems, agriculture, human activities, and cultural
      traditions. They influence plant and animal behavior, determine
      agricultural practices, and shape various aspects of human life, such as
      tourism and seasonal industries, illustrating the interconnectedness of
      Earth's natural systems and human societies.
    </p>
  </div>
  <div class="right">
    <div class="earth"></div>
  </div>
</section>
