<section>
  <div class="container">
    <div class="card-container">
      <div class="content">
        <img src="../../../assets/images/feedback.png" alt="" />
        <p>
          Seasons can affect human mood and behavior, known as seasonal
          affective disorder (SAD).
        </p>
      </div>
    </div>

    <div class="card-container">
      <div class="content">
        <img src="../../../assets/images/northern-lights.png" alt="" />
        <p>
          The Northern Lights, or Aurora Borealis, are most visible during
          winter in high-latitude regions.
        </p>
      </div>
    </div>
    <div class="card-container">
      <div class="content">
        <img src="../../../assets/images/temperatures.png" alt="" />
        <p>Temperature changes accompany the shift in seasons.</p>
      </div>
    </div>
    <div class="card-container">
      <div class="content">
        <img src="../../../assets/images/plant.png" alt="" />
        <p>
          The word "season" comes from the Latin word "satio," meaning sowing or
          planting.
        </p>
      </div>
    </div>
    <div class="card-container">
      <div class="content">
        <img src="../../../assets/images/snowflake.png" alt="" />
        <p>
          Snowflakes are never the same, each one is unique like a fingerprint
        </p>
      </div>
    </div>
    <div class="card-container">
      <div class="content">
        <img src="../../../assets/images/planet-earth.png" alt="" />
        <p>Seasons are caused by Earth's tilt as it orbits the Sun</p>
      </div>
    </div>
    <div class="card-container">
      <div class="content">
        <img src="../../../assets/images/cherry-blossom.png" alt="" />
        <p>
          Spring is often associated with rebirth and renewal due to the
          blossoming of flowers and trees.
          Cherry blossoms in Japan signal the arrival of spring with festivals called Hanami.
        </p>
      </div>
    </div>
  </div>
</section>
